<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Enjoy</title>
<link rel = "stylesheet" href = "{{ url_for('static', filename = 'styles/Sty.css')}}">
</head>
<h1 id = "final1"><center>Confirmation</center></h1>
<br>
<h1>Moviename: {{mow}} </h1>
<h1>No.of Tickets: {{qu}} </h1>
<h1>Total Cost: Rs.500</h1>
<br>
<h1 id = "final1">Ticket Details:</h1>
<br>
<h2 id = "final1">One Ticket:</h2>"
<h2>Seat Row: {{sn}} </h2>
<h2>Seat Number: {{sno}} </h2>
<br>
<h1 id = "final1"><center>Enjoy your movie :D</center></h1>
</body>
</html>