<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/Sty.css') }}">
</head>
<body>
    <img class="back" src="{{ url_for('static', filename='images/theatreback1.png') }}">
    <img class="ourLogo" src="{{ url_for('static', filename='images/joviallogo7.png') }}">
    
    <div class="wrapper">
        <span class="icon-close"><ion-icon name="close-outline"></ion-icon></span>
        <div class="form-box login">
            <h2>Login</h2>
            <form action="/Search" method="post">
                <div class="input-box">
                    <span class="icon"><ion-icon name="person-circle"></ion-icon></span>
                    <input name="user" type="text" required>
                    <label>Username</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                    <input name="pass" type="password" required>
                    <label>Password</label>
                </div>
                <br>
                <div class="remember-forgot">
                    <label><input type="checkbox" required> I will definitely buy popcorn!</label>
                    <a href="#" style="color:cyan;">Forgot password</a>
                </div>
                <br>
                <button type="submit" value="Submit" class="btn">Login</button>
            </form>
            <form action="/Reg" method="post">
                <div class="Register">
                    <p>Don't have an account! 
                        <button type="submit" value="Submit" class="Register-link">Register</button>
                    </p>
                </div>
            </form>
        </div>
    </div>
    
    <script type="text/javascript" src="{{ url_for('static', filename='Script/scrip.js') }}"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>